//
// Color system
//

$white:    #ffffff !default;
$black:    #000000 !default;

$white-30:    #ffffff4d !default;
$almostBlack: #131313 !default;
$yellowish:      #ffc04a !default;
$redish:         #ff6347 !default;
$greyish:        #c4c4c4 !default;
$darkgreyish:    #282c34 !default;
$darkgreyish70:    #282c34b3 !default;
