@import "../../../../utils/sass-core/colors";
@import "../../../../utils/sass-core/fonts";

.ImageInCarouselSlide {
  max-height: 800px;
  animation: fade ease 1.5s;
  -webkit-animation: fade ease 1.5s;

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.CarouselSlide {
  flex: 10;
  display: none;
  max-width: 900px;
  max-height: 800px;
  list-style-type: none;
  text-align: center;
  -o-transition: 0.5s;

  @media (max-width: 991px) {
    padding-right: 60px;
    padding-left: 60px;
  }

  &_active {
    display: block;
  }
}
