@import "../../../utils/sass-core/colors.scss";
@import "../../../utils/sass-core/fonts.scss";

.NavbarListElement {
  margin: 1rem 0;
  padding: 1rem;
  font-size: $font-size-xxl;
  display: inline-block;
}

a {
  color: $white;
  text-decoration: none;
}
