@import "../../../utils/sass-core/colors";
@import "../../../utils/sass-core/fonts";

.Footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: $almostBlack;
  align-items: flex-end;
  color: $white;
  font-size: $font-size-sm;
}

.Logo {
  flex: 2;
}

.policy {
  flex: 1;
  margin: 0 20px 10px 0;
  text-align: left;
}

.Sign {
  flex: 9;
  margin: 0 20px 10px 0;
  text-align: right;
}
