@import "../utils/sass-core/colors";
@import "../utils/sass-core/fonts";

.header {
  font-size: $font-size-xxxxxl;
  font-weight: $font-weight-bold;
  color: $redish;
}

.container404 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 25vh 2%;
}

.graphic404 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.gif {
  height: 20vh;
}

.textDescription {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 15%;
  justify-content: left;
}

.link {
  color: $redish;
}
