@import "../utils/sass-core/colors.scss";
@import "../utils/sass-core/fonts.scss";

$background-vectors: '../assets/SVG/background_lines.svg';

.App {
  box-sizing: border-box;
  text-align: center;
  font-family: $font-family-sans-serif;
}

.section2 {
  height: 800px;
  background: $almostBlack;
  border: 1px solid red;
}
