@import "../utils/sass-core/colors.scss";
@import "../utils/sass-core/fonts.scss";

$background-lines: '../assets/SVG/background_lines_greyish_.svg';

.sectionContainer {
  padding: 100px 1% 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url($background-lines) repeat-y $almostBlack;
  background-size: cover;
  background-position: center;
}

.blogHeader {
  display: flex;
  flex-direction: row;
}

.headerTitle {
  margin: auto 10px;
  align-items: center;
  font-family: $font-family-serif;
  font-size: $font-size-xxxxl;
  font-weight: $font-weight-semibold;
  color: $yellowish;
  text-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.3);
  text-align: center;
}

.headerImage {
  height: 200px;
  width: 200px;
  margin: auto;
  background-color: $greyish;
  border-radius: 50%;
  box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.3);
}

.listOfPosts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: wrap;
}

//.oneOfPosts {
//  display: flex;
//  background: $midgreyish60;
//  border-radius: 5px;
//  flex-direction: row;
//  align-items: center;
//  height: 300px;
//  color: $white;
//  margin: 15px 30px;
//}
//
//.descriptionOfPost {
//  flex: 1.5;
//  height: 200px;
//  display: flex;
//  flex-direction: column;
//  justify-content: space-around;
//  align-items: flex-end;
//  align-content: center;
//  margin: 0 1rem;
//  padding-top: 25px;
//}
//
//.titleName {
//  flex: 1;
//  font-size: $font-size-xxl;
//  text-align: end;
//}
//
//.postFirstPublicationDate {
//  flex: 1;
//  color: $greyish;
//}
//
//.postThumbnail {
//  flex: 1;
//  margin: 0 1rem;
//  height: 250px;
//  width: 300px;
//  border-radius: 15px;
//}

.postsCounter {
  color: $white;
}

.comboBoxContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem auto 3rem;
}

.comboBox {
  background-color: $white;
  width: 350px;
  margin: 0 auto;
}

.comboBoxLabel {
  color: $white;
}

@media (max-width: 1182px) {
  .oneOfPosts {
    width: 80vw;
  }

  .blogHeader {
    width: 95vw;
  }
}

@media (max-width: 768px) {
  .sectionContainer {
    padding: 80px 1% 20px;
  }

  .listOfPosts {
    margin: 0;
  }

  .blogHeader {
    flex-direction: column-reverse;
    width: 100vw;
  }

  .oneOfPosts {
    flex-direction: column;
    margin-bottom: 10px;
    min-height: 300px;
  }

  .titleName {
    text-align: center;
    width: 100%;
  }

  .descriptionOfPost {
    flex: 1;
    width: 90%;
  }

  .postFirstPublicationDate {
    flex: 0;
  }
}
