@import "../utils/sass-core/colors.scss";
@import "../utils/sass-core/fonts.scss";

$background-lines: '../assets/SVG/background_lines_greyish_.svg';
$topoMap: "../assets/images/Black_Canyon_Topographic_Arts_2048x2048.webp";

.App {
  box-sizing: border-box;
  text-align: center;
  font-family: $font-family-sans-serif;
  cursor: none;
}

.section2_3_4 {
  background: url($background-lines) no-repeat $almostBlack;
  background-size: cover;
  background-position: center;
}

.section2 {
  max-height: 1080px;
  display: flex;
  align-items: center;
}

.section3 {
  padding: 2vw 0;
}

@media (min-width: 1183px) {
  .section3 {
    max-height: 1000px;
  }
}

.section4_youtubeMovie {
  padding-top: 7vw;
  margin-bottom: 16vw;
  margin-top: 8vw;
  position: relative;
}

.reactPlayer {
  position: absolute;
  left: 25%;
  top: -100%;
  height: 25vw !important;

  &::after {
    background: $redish;
    display: block;
    content: '';
    height: 3px;
    width: 26%;
    margin: 0 auto;
    position: absolute;
    top: 26vw;
    left: 37%;
  }
}

.reactPlayerChrome {
  position: absolute;
  left: 25%;
  top: -100%;
  height: 25vw !important;

  &::after {
    background: $redish;
    display: block;
    content: '';
    height: 3px;
    width: 26%;
    margin: 0 auto;
    position: absolute;
    top: 26vw;
    left: 37%;
  }
}

@media (max-width: 1182px) {
  .section4_youtubeMovie {
    margin-bottom: calc(260px + 4vw);
  }

  .reactPlayer {
    height: 360px !important;
    left: 25%;

    &::after {
      top: calc(360px + 1vw);
    }
  }

  .reactPlayerChrome {
    height: 360px !important;
    left: 25%;

    &::after {
      top: calc(360px + 1vw);
      background: $redish;
      display: block;
      content: '';
      height: 3px;
      width: 26%;
      margin: 0 auto;
      position: absolute;
      left: 37%;
    }
  }
}

@media (max-width: 768px) {
  .section2 {
    padding: 25px 0;
    display: flex;
    align-items: center;
  }

  .section3Mobile {
    padding: 2vw 0;
    flex-direction: column;
  }

  .reactPlayer {
    left: 0;
  }

  .reactPlayerChrome {
    left: 0;
  }
}
