@import "../../../utils/sass-core/colors.scss";
@import "../../../utils/sass-core/fonts.scss";

.SideLinkFacebook {
  position: absolute;
  left: calc(100vw - 80px);
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.SideLinkYoutube {
  position: absolute;
  left: calc(100vw - 100px);
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.YoutubeSideLink {
  color: $yellowish;
  text-decoration: none;
  font-size: $font-size-md;
  font-weight: $font-weight-semibold;
  text-transform: uppercase;
}

.YoutubeSideLink::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  position: absolute;
  right: -60px;
  top: 10px;
  background: $yellowish;
}
