@import "../../utils/sass-core/colors.scss";
@import "../../utils/sass-core/fonts.scss";

$ecllipsis-icon: "../../assets/SVG/ellipsis-v-solid.svg";
$times-solid: "../../assets/SVG/times-solid.svg";

.Navbar {
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background: $darkgreyish90;
  align-items: center;
  z-index: 1;
}

.NavbarMobile {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.MenuBurgerContainer {
  display: flex;
  flex: 1;
  height: 15%;
  flex-direction: row;
  justify-content: space-between;
}

.Logo {
  flex: 3;
  min-width: 100px;
}

.NavList {
  margin: 0;
  flex-direction: row;
  list-style: none;
  flex: 10;
  font-size: 0;
}

.NavListMobileClosed {
  visibility: hidden;
  height: 0;
}

.NavListMobileOpen {
  display: flex;
  margin: 0;
  flex-direction: column;
  list-style: none;
  height: 100vh;
}

.ellipsis {
  position: relative;
  width: 2rem;
  height: 2.5rem;
  background: url($ecllipsis-icon) no-repeat;
  transition: all 0.5s ease-in-out;
}

.ellipsis_open {
  position: relative;
  width: 2rem;
  height: 2.5rem;
  background: url($times-solid) no-repeat;
}

.MenuBurger {
  position: relative;
  display: flex;
  margin-right: 20px;
  justify-content: right;
  align-items: center;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}
