.Carousel {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  border: 5px solid yellow;
  height: 800px;
}

.CarouselSlides {
  display: flex;
  flex-direction: row;
  border: 2px solid green;
  list-style-type: none;
  margin: 0;
  flex: 10;
  height: 800px;
}

.CarouselDescriptionRCTypes {
  flex: 4;
  display: flex;
  flex-direction: row;
  border: 3px solid green;
  list-style-type: none;
  margin: 0;
}
