@import "../../utils/sass-core/colors";
@import "../../utils/sass-core/fonts";

//desktop
.Carousel {
  margin: 1% 0 10vh 0;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: stretch;
  max-height: 850px;
}

.CarouselTextIndicatorsBox {
  display: flex;
  flex-direction: row;
  margin: 1% 0;

  &_off {
    display: none;
  }
}

.CarouselTextIndicatorsExtraSpace {
  flex: 4;
}

.CarouselTextIndicators {
  flex: 10;
  margin: 0;
  color: $yellowish;
  list-style-type: none;
  max-height: 50px;
  display: flex;
  justify-content: center;

  li {
    &:nth-of-type(n + 2) {
      margin-left: 9px;
    }
  }
}

.CarouselDotIndicators {
  flex: 10;
  margin: 0;
  color: $yellowish;
  list-style-type: none;
  max-height: 1rem;
  display: flex;
  justify-content: center;

  li {
    &:nth-of-type(n + 2) {
      margin-left: 9px;
    }
  }

  &_off {
    display: none;
  }
}

.CarouselSlideGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  margin: 0 100px;
}

.slideWithArrows {
  display: flex;
  flex-direction: row;
}

.SlidesWithDots {
  flex: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CarouselSlides {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
}

.CarouselDescriptionRCTypes {
  flex: 4;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;

  &_off {
    display: none;
  }
}

//
//mobile
//

.CarouselMobile {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: stretch;
  max-height: 850px;
}

.CarouselSlideGroupMobile {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
}

@media (max-width: 768px) {
  .Arrow {
    width: 35px;
  }
}

@media (min-width: 769px) and (max-width: 1182px) {
  .CarouselSlideGroup {
    margin: 15px 1%;
  }

  .CarouselTextIndicatorsExtraSpace {
    flex: 0;
  }

  .CarouselTextIndicators {
    li {
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
