$background-carousel-arrow-left: '../../../../assets/SVG/carousel_arrow.svg';
$background-carousel-arrow-left_mobile: '../../../../assets/SVG/carousel_arrow_mobile.svg';

.CarouselArrow {
  flex: 1;
  display: flex;
  align-self: center;
  transition: opacity 0.5s;

  &:focus {
    outline: 0;
  }

  &:hover {
    opacity: 0.8;
    scale: 1.1;
  }
}

.ArrowSvgRight {
  display: block;
  position: relative;
  top: 50%;
  left: calc(50% - 45px);
  left: -webkit-calc(50% - 45px);
  left: -moz-calc(50% - 45px);
  background: url($background-carousel-arrow-left) no-repeat;
  height: 90px;
  width: 90px;
}

@media (max-width: 768px) {
  .CarouselArrow {
    align-self: normal;
  }

  .ArrowSvgRight {
    left: calc(50% - 17.5px);
    left: -webkit-calc(50% - 17.5px);
    left: -moz-calc(50% - 17.5px);
    height: 35px;
    width: 35px;
    background: url($background-carousel-arrow-left_mobile) no-repeat;
  }
}
